{% extends 'home/header.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Available Genome Browsers</h1>

  <p>
    Below is a selection of genome projects that are using the Australian Apollo Service. Click on a link to find out more about the research group performing the genome annotation project and to access Apollo to view publicly available genome browsers. Publicly available genome browsers do not require a login. For non-public genomes, an account login is required which may be granted by getting in touch with the research group.
  </p>

  <p>
    If you are an Australian-based researcher and have a genome annotation project you would like to showcase here, please email us the details at
    <a href="mailto:apollo-support@genome.edu.au">apollo-support@genome.edu.au</a>.
  </p>

  <h3 class="text-danger font-italic">Available genome browsers</h3>

  {% include 'tracks/snippets/genome-cards.html' %}

</div>
{% endblock %}
