{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>FAQs | Apollo Portal</title>
<link rel="stylesheet" href="{% static 'home/css/resources.css' %}">
<link rel="stylesheet" href="{% static 'home/css/faq.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Frequently Asked Questions</h1>

  <div id="faq-accordion">
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            data-toggle="collapse"
            data-target="#collapse1"
            aria-expanded="false"
            aria-controls="collapse1"
          >
            What is the Apollo Service?
          </button>
        </h5>
      </div>

      <div
        id="collapse1"
        class="collapse"
        aria-labelledby="heading1"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          The Apollo software package is a web-based tool for visualising
          genomic contents and manually improving gene predictions. It allows
          researchers to work on a reference genome collaboratively. The Apollo
          Service provides Australian-based researchers with customised, local
          instances of the Apollo software for their genome projects.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse2"
            aria-expanded="false"
            aria-controls="collapse2"
          >
            How can I get an Apollo Instance?
          </button>
        </h5>
      </div>

      <div
        id="collapse2"
        class="collapse"
        aria-labelledby="heading2"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Researchers from Australian-based research groups and consortia can
          obtain an Apollo Instance by applying for an account on the
          <a href="/signup"
            >sign up webpage</a
          >. Further details can be found in the
          <a href="/resources/start"
            >Getting Started tab</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-expanded="false"
            aria-controls="collapse3"
          >
            Can I trial Apollo before signing up?
          </button>
        </h5>
      </div>

      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="heading3"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          To become familiar with the Apollo environment, please use the
          demonstration site created by the official Apollo developers,
          accessible via the&nbsp;<a
            href="https://genomearchitect.readthedocs.io/en/latest/UsersGuide.html#public-demo"
            >Apollo public demo instance</a
          >, with the credentials:<br /><br /><br /><strong>username</strong>
          demo@demo.com&nbsp;<br /><strong>password</strong> demo
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            I am a non-Australian-based researcher, can I access the Apollo
            Service?
          </button>
        </h5>
      </div>

      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="heading4"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          The service is funded to support
          <a href="/resources/terms#AusUni"
            >Australian-based research groups and consortia</a
          >, and only Principal Investigators with an institutional email
          address from an
          <a href="/resources/terms#AusUni"
            >Australian research institution</a
          >
          may apply for a hosted Apollo Instance. International collaborators
          are however very welcome to be invited to collaborate within an
          established Instance or view data. This is at the discretion of the
          Instance managers, i.e. the Instance Project Administrator and/or
          Principal Investigator.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            Can Apollo automatically annotate my genome?
          </button>
        </h5>
      </div>

      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="heading5"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          No. Apollo is a tool to manually correct genome annotations that have
          already been produced from automated tools or pipelines. A
          non-exhaustive list of genome annotation tools is available via our
          <a
            href="https://australianbiocommons.github.io/2_tools.html"
          >
            Tool Finder</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading6">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse6"
            aria-expanded="false"
            aria-controls="collapse6"
          >
            How can I get training to use Apollo?
          </button>
        </h5>
      </div>

      <div
        id="collapse6"
        class="collapse"
        aria-labelledby="heading6"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Training for the Apollo Service is in development with plans to offer
          workshops or webinars on the Apollo Service. Training will be
          advertised to users through their email or via the
          <a href="https://groups.google.com/a/lbl.gov/g/apollo"
            >Genome Annotation Google Group</a
          >.&nbsp;A number of
          <a href="/resources/video"
            >video resources</a
          >
          are available to help you get started using the Apollo Service.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading7">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse7"
            aria-expanded="false"
            aria-controls="collapse7"
          >
            How can I get an Apollo Instance?
          </button>
        </h5>
      </div>

      <div
        id="collapse7"
        class="collapse"
        aria-labelledby="heading7"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Researchers from
          <a href="/resources/terms#AusUni"
            >Australian-based research groups and research consortia</a
          >&nbsp;can obtain an Apollo Instance by applying for an account at the
          <a href="/signup"
            >sign up webpage</a
          >. Further details can be found in the
          <a href="/resources/start"
            >Getting Started tab</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading8">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse8"
            aria-expanded="false"
            aria-controls="collapse8"
          >
            How long will my Apollo Instance be around?
          </button>
        </h5>
      </div>

      <div
        id="collapse8"
        class="collapse"
        aria-labelledby="heading8"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          The Service will continue for the lifetime of the Australian
          BioCommons, which is currently funded until June 2023. However, in the
          case of use that interferes with operations or violates the
          <a href="/resources/terms"
            >Apollo Service Terms of Use and Policies</a
          >
          or applicable laws, Australian BioCommons reserves the right,
          without notice, to restrict or remove access.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading9">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse9"
            aria-expanded="false"
            aria-controls="collapse9"
          >
            Do I have to pay for my Apollo Instance?
          </button>
        </h5>
      </div>

      <div
        id="collapse9"
        class="collapse"
        aria-labelledby="heading9"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          No. The service is fully subsidised for Australian researchers and
          their collaborators thanks to:
          <a href="https://www.dese.gov.au/national-research-infrastructure"
            >National Collaborative Research Infrastructure Strategy (NCRIS)</a
          >
          investments made by
          <a href="https://bioplatforms.com/">Bioplatforms Australia (BPA)</a>,
          investment from the
          <a href=" https://science.des.qld.gov.au/funding/ricf"
            >Queensland Government's Research Infrastructure Co-investment Fund
            (RICF)</a
          >
          and generous computational resourcing from the
          <a href="https://pawsey.org.au/">Pawsey Supercomputing Centre</a>. The
          <a href="https://www.biocommons.org.au/">Australian BioCommons</a>
          (hosted by
          <a href="https://www.unimelb.edu.au/">The University of Melbourne</a>)
          operates the Apollo Portal and Apollo Service in collaboration with
          <a href="https://www.qcif.edu.au/"
            >Queensland Cyber Infrastructure Foundation (QCIF)</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading101">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse101"
            aria-expanded="false"
            aria-controls="collapse101"
          >
            Who will have access to my data on Apollo?
          </button>
        </h5>
      </div>

      <div
        id="collapse101"
        class="collapse"
        aria-labelledby="heading101"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Control over the access to curate or view data is determined by the
          Project Administrator of the Apollo Instance. Access to data in your
          Apollo Instance is private by default. The Project
          Administrator&nbsp;can grant access with access for public view and/or
          restricted view.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading111">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse111"
            aria-expanded="false"
            aria-controls="collapse111"
          >
            Can I publish my genomes using Apollo?
          </button>
        </h5>
      </div>

      <div
        id="collapse111"
        class="collapse"
        aria-labelledby="heading111"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Yes. As the manager of an Apollo Instance, just upload the genome, any
          associated aligned genomic data then make genomes and tracks viewable
          by the public. You can follow the user resource to do so
          <a
            href="/resources/documentation#seven"
            >here</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading121">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse121"
            aria-expanded="false"
            aria-controls="collapse121"
          >
            Is there a help desk I can contact?
          </button>
        </h5>
      </div>

      <div
        id="collapse121"
        class="collapse"
        aria-labelledby="heading121"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Yes. To access help with your Apollo Instance please email support at
          <a href="mailto:apollo-support@genome.edu.au"
            >apollo-support@genome.edu.au</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading131">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse131"
            aria-expanded="false"
            aria-controls="collapse131"
          >
            What is the difference between Apollo and JBrowse?
          </button>
        </h5>
      </div>

      <div
        id="collapse131"
        class="collapse"
        aria-labelledby="heading131"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          JBrowse is a web-browser based genome browser that can be used to
          interactively view and explore a genome and any aligned genomics data
          (e.g. sequences reads of transcripts).<br /><br />
          Apollo is a tool that is built on top of JBrowse that lets users view
          a genome, associated annotation file and any other aligned genomics
          data, but also enables trusted users to curate/correct the genome
          annotation files by making changes.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading141">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse141"
            aria-expanded="false"
            aria-controls="collapse141"
          >
            Can I make my genomes available to view to the public?
          </button>
        </h5>
      </div>

      <div
        id="collapse141"
        class="collapse"
        aria-labelledby="heading141"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Yes. As the manager of an Apollo instance you can choose to make
          genomes and tracks viewable to the public. To do this, you can follow
          the user resource
          <a
            href="/resources/documentation#seven"
            >here</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading151">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse151"
            aria-expanded="false"
            aria-controls="collapse151"
          >
            Can I make my genomes private?
          </button>
        </h5>
      </div>

      <div
        id="collapse151"
        class="collapse"
        aria-labelledby="heading151"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          Yes. As the manager of an Apollo Instance you can choose to make
          genomes and tracks private and only viewable (and editable if you
          like) by trusted collaborators.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading161">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse161"
            aria-expanded="false"
            aria-controls="collapse161"
          >
            I have sensitive genomic data, can I use this Apollo Service?
          </button>
        </h5>
      </div>

      <div
        id="collapse161"
        class="collapse"
        aria-labelledby="heading161"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          The Apollo Service is not designed to handle sensitive data. You are
          prohibited from using the Service to store or process sensitive data,
          including but not limited to personally identifying genetic, genomic
          or medical data.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading171">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse171"
            aria-expanded="false"
            aria-controls="collapse171"
          >
            Will my personal and genome data be shared?
          </button>
        </h5>
      </div>

      <div
        id="collapse171"
        class="collapse"
        aria-labelledby="heading171"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          The Apollo Service is committed to protecting your privacy. We do not
          collect, process, retain or share personal data other than for the
          purposes described in the
          <a href="/resources/terms"
            >Apollo Service Privacy Policy</a
          >.<br /><br />
          The Apollo Service stores data which you provide to us voluntarily
          when you upload data or annotate data. You are prohibited from using
          the Apollo Service to host or process sensitive data, including but
          not limited to personal data. We may examine the data you share
          through the service for alignment with our
          <a href="/resources/terms"
            >Acceptable Use Policy</a
          >.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading181">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse181"
            aria-expanded="false"
            aria-controls="collapse181"
          >
            Where is my genome data hosted?
          </button>
        </h5>
      </div>

      <div
        id="collapse181"
        class="collapse"
        aria-labelledby="heading181"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          All data is stored and processed in Australia by our Operational
          Partners.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading191">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapse191"
            aria-expanded="false"
            aria-controls="collapse191"
          >
            How can I acknowledge the Apollo Instance that was built for me?
          </button>
        </h5>
      </div>

      <div
        id="collapse191"
        class="collapse"
        aria-labelledby="heading191"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          When you use Apollo Portal to support your publication or project,
          please cite its use using the following acknowledgement statement:<br /><br />
          This work is supported by the Apollo Portal Service (<a
            href="/"
            >https://apollo-portal.genome.edu.au</a
          >) provided by Australian BioCommons and its partners. The service
          receives NCRIS funding through Bioplatforms Australia and the
          Australian Research Data Commons (<a
            href="https://doi.org/10.47486/PL105"
            >https://doi.org/10.47486/PL105</a
          >), as well as Queensland Government RICF funding.
        </div>
      </div>
    </div>
  </div>

  {% include 'home/snippets/doc-nav.html' %}

</div>
{% endblock %}
