{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>FAQs | Apollo Portal</title>
<link rel="stylesheet" href="{% static 'home/css/resources.css' %}">
<link rel="stylesheet" href="{% static 'home/css/faq.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Frequently Asked Questions</h1>

  <div id="faq-accordion">

    {% for faq in faqs %}
    <div class="card">
      <div class="card-header" id="heading{{ forloop.counter }}">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed w-100 text-left"
            data-toggle="collapse"
            data-target="#collapse{{ forloop.counter }}"
            aria-expanded="false"
            aria-controls="collapse{{ forloop.counter }}"
          >
            {{ faq.question | safe }}
          </button>
        </h5>
      </div>

      <div
        id="collapse{{ forloop.counter }}"
        class="collapse"
        aria-labelledby="heading{{ forloop.counter }}"
        data-parent="#faq-accordion"
      >
        <div class="card-body">
          {{ faq.answer | safe }}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  {% include 'home/snippets/doc-nav.html' %}

</div>
{% endblock %}
