table {
  font-size: .7rem;
}
table th {
  color: black;
  font-weight: bold;
  background-color: var(--table-head);
}
table td {
  background-color: var(--table-body);
}

/* Terms of use */
#feature-catalog-table {
  max-width: 100%;
  overflow-x: auto;
}
#feature-catalog-table th:first-child {
  background-color: transparent;
}
#feature-catalog-table td:first-child {
  white-space: nowrap;
}

/* Video */
iframe.video {
  width: 100%;
  height: 550px;
}

@media (max-width: 992px) {
  iframe.video {
    width: 100%;
    height: 60vw;
  }
}
