<!--
  Pass a list of Genome models into a card-rows view with filters.

  Use `include with hide_filters="['lab', ... ]"` to hide filters or apply a
  global filter on genome records e.g. for a specific lab or group.

  hide_filters: Array of filter names to hide. Valid values are 'lab', 'species',
  'strain', and 'condition'.
  e.g. hide_filters = ['lab']

  filter_genomes_params: Object of GET params to pass to /tracks/api/genomes
  e.g. filter_genomes_params="{group: 'my group', labs: 'my Lab,your lab'}"
-->

{% load static %}

<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.6/dist/vue-multiselect.min.css">
<link rel="stylesheet" href="{% static 'tracks/css/genome-cards.css' %}">

<!-- Use verbatim mode to prevent collision of Django and Vue template tags -->
{% verbatim %}
<div id="app">
  <!-- View selector -->
  <div class="row justify-content-between py-1">
    <div class="col">
      <input class="form-control" type="text" placeholder="Search" @input="(e) => this.textSearch = e.target.value" style="max-width: 450px;">
    </div>

    <div class="col-auto">
      <div class="view-select-buttons">
        <button
          :class="this.selectedView === this.views.CARDVIEW ? ' btn btn-secondary btn-icon disabled' : 'btn btn-secondary btn-icon'"
          @click="() => setView(this.views.CARDVIEW)"
          data-toggle="tooltip"
          data-title="Card view"
          data-placement="top"
        >
          <span class="material-icons">grid_view</span>
        </button>
        <button
          :class="this.selectedView === this.views.LISTVIEW ? ' btn btn-secondary btn-icon disabled' : 'btn btn-secondary btn-icon'"
          @click="() => setView(this.views.LISTVIEW)"
          data-toggle="tooltip"
          data-title="List view"
          data-placement="top"
        >
          <span class="material-icons">view_list</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Filter bar -->
  <div id="filter-bar">
    <div class="px-2">
      <span class="material-icons align-middle" style="font-size: 2.5rem; color: #888;">filter_alt</span>
    </div>
    <div class="filter">
      <multiselect
        v-if="!filters.lab.hidden && this.filters.lab.options.length"
        v-model="filters.lab.selected"
        :options="filters.lab.options"
        :multiple="true"
        :close-on-select="false"
        :clear-on-select="true"
        :preserve-search="true"
        :preselect-first="false"
        placeholder="Lab"
      />
        <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span
            class="multiselect__single"
            v-if="values.length"
            v-show="!isOpen"
          > {{ values.length }} labs selected
          </span>
        </template>
      </multiselect>
    </div>

    <div class="filter">
      <multiselect
        v-if="!filters.species.hidden && this.filters.species.options.length"
        v-model="filters.species.selected"
        :options="filters.species.options"
        :multiple="true"
        :close-on-select="false"
        :clear-on-select="true"
        :preserve-search="true"
        :preselect-first="false"
        placeholder="Species"
      />
        <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span
            class="multiselect__single"
            v-if="values.length"
            v-show="!isOpen"
          > {{ values.length }} species selected
          </span>
        </template>
      </multiselect>
    </div>

    <div class="filter">
      <multiselect
        v-if="!filters.strain.hidden && this.filters.strain.options.length"
        v-model="filters.strain.selected"
        :options="filters.strain.options"
        :multiple="true"
        :close-on-select="false"
        :clear-on-select="true"
        :preserve-search="true"
        :preselect-first="false"
        placeholder="Strain"
      />
        <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span
            class="multiselect__single"
            v-if="values.length"
            v-show="!isOpen"
          > {{ values.length }} strains selected
          </span>
        </template>
      </multiselect>
    </div>

    <div class="filter">
      <multiselect
        v-if="!filters.condition.hidden && this.filters.condition.options.length"
        v-model="filters.condition.selected"
        :options="filters.condition.options"
        :multiple="true"
        :close-on-select="false"
        :clear-on-select="true"
        :preserve-search="true"
        :preselect-first="false"
        placeholder="Condition"
      />
        <template slot="selection" slot-scope="{ values, search, isOpen }">
          <span
            class="multiselect__single"
            v-if="values.length"
            v-show="!isOpen"
          > {{ values.length }} conditions selected
          </span>
        </template>
      </multiselect>
    </div>

    <div class="ml-auto text-right px-2">
      <button class="btn btn-primary" @click="showFilterHelpModal">
        ?
      </button>
      <button class="btn btn-primary" @click="resetFilters">
        Reset
      </button>
    </div>
  </div>


  <!-- Genome cards -->
  <div v-if="selectedView === views.CARDVIEW" class="genome-cards">
    <div v-if="loading">
      <p class="lead">
        Loading...
      </p>
    </div>

    <div v-else-if="!filteredGenomes.length" class="text-center">
      <p class="lead my-5">
        No matching genomes
      </p>
    </div>

    <div v-else class="row m-0">
      <div
        v-for="genome in filteredGenomes"
        :key="genome.id"
        class="card genome-card"
      >
        <img class="card-img-top"
          :src="genome.thumbnail"
          :alt="genome.name"
        />
        <div class="card-title m-0">
          <p class="text-bold text-center my-1">
            {{ capitalize(genome.name) }}
          </p>
        </div>

        <div class="card-body">
          <p class="text-center mb-2">
            <button class="btn-primary btn-small" type="button" @click="() => showLab(genome.lab)">
              {{ genome.lab }}
            </button>
          </p>
          <div>
            <strong>Species:</strong> <i>{{ genome.species }}</i>
          </div>
          <div v-if="genome.strain">
            <strong>Strain:</strong> {{ genome.strain }}
          </div>
          <div v-if="genome.condition">
            <strong>Condition:</strong> {{ genome.condition }}
          </div>
        </div>

        <div class="card-footer text-center">
          <a
            :href="genome.apollo_url"
            target="_blank"
          >
            <button
              class="btn btn-primary"
              data-toggle="tooltip"
              data-title="View public genome tracks on Apollo"
              data-placement="bottom"
            >
              Browser
            </button>
          </a>

          <button
            class="btn btn-primary"
            @click="showGenome(genome)"
          >
            Info
          </button>
        </div>
      </div>
    </div>
  </div>

  <div v-if="selectedView === views.LISTVIEW" class="genome-list">
    <div v-if="loading">
      <p class="lead">
        Loading...
      </p>
    </div>

    <div v-else-if="!filteredGenomes.length" class="text-center">
      <p class="lead my-5">
        No genomes to display
      </p>
    </div>

    <table v-else class="table table-striped">
      <thead>
        <th>Genome name</th>
        <th>Lab</th>
        <th>Species</th>
        <th>Strain</th>
        <th>Condition</th>
        <th></th>
        <th></th>
      </thead>
      <tr
        v-for="genome in filteredGenomes"
        :key="genome.id"
      >
        <td>{{ capitalize(genome.name) }}</td>
        <td>
          <button class="btn-primary btn-small" type="button" @click="() => showLab(genome.lab)">
            {{ genome.lab }}
          </button>
        </td>
        <td><i>{{ genome.species }}</i></td>
        <td>{{ genome.strain }}</td>
        <td>{{ genome.condition }}</td>
        <td>
          <a
            :href="genome.apollo_url"
            target="_blank"
          >
            <button
              class="btn btn-primary"
              data-toggle="tooltip"
              data-title="View genome tracks on Apollo"
              data-placement="bottom"
            >
              Browser
            </button>
          </a>
        </td>
        <td>
          <button
            class="btn btn-primary"
            @click="showGenome(genome)"
          >
            Info
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="modal fade" id="labDetailsModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="labDetailsModalTitle" class="modal-title">Lab Details</h5>
          <span class="close" data-dismiss="modal" @click="resetLabDetails">&times;</span>
        </div>

        <div id="labDetailsModalBody" class="modal-body">
          <p v-if="!labDetails" class="lead">
            Loading...
          </p>

          <div v-else>
            <img
              class="modal-header-img"
              :src="labDetails.image"
              :alt="labDetails.name"
            />

            <h3 class="text-center">{{ labDetails.name }}</h3>

            <p v-html="labDetails.description_html"></p>

            <table class="table my-3">
              <tr>
                <td>
                  <strong>Lab website</strong>
                </td>
                <td>
                  <a :href="labDetails.website_url" target="_blank">
                    {{ labDetails.website_url }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Project lead</strong>
                </td>
                <td>
                  {{ labDetails.principle_investigator }}
                  <br>
                  <a :href="labDetails.email">
                    {{ labDetails.email }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Apollo instance</strong>
                  <br>
                  (Login required)
                </td>
                <td>
                  <a :href="labDetails.apollo_url" target="_blank">
                    {{ labDetails.apollo_url }}
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="modal-footer justify-content-center">
          <button class="btn btn-primary" data-dismiss="modal" @click="resetLabDetails">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="genomeDetailsModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="genomeDetailsModalTitle" class="modal-title">Genome details</h5>
          <span class="close" data-dismiss="modal" @click="resetGenomeDetails">&times;</span>
        </div>

        <div v-if="genomeDetails" id="genomeDetailsModalBody" class="modal-body">
          <img
            class="modal-header-img"
            :src="genomeDetails.thumbnail"
            :alt="genomeDetails.name"
          />

          <h3 class="text-center">{{ genomeDetails.name }}</h3>

          <p v-html="genomeDetails.description_html || '<i>No description</i>'"></p>

          <table class="table my-3">
            <tr>
              <td>
                <strong>Species</strong>
              </td>
              <td><i>{{ genomeDetails.species }}</i></td>
            </tr>
            <tr v-if="genomeDetails.strain">
              <td>
                <strong>Strain</strong>
              </td>
              <td>{{ genomeDetails.strain }}</td>
            </tr>
            <tr v-if="genomeDetails.condition">
              <td>
                <strong>Condition</strong>
              </td>
              <td>{{ genomeDetails.condition }}</td>
            </tr>
            <tr v-if="genomeDetails.reference || genomeDetails.doi">
              <td>
                <strong>Reference</strong>
              </td>
              <td>
                <span v-if="genomeDetails.reference">
                  {{ genomeDetails.reference }}
                </span>
                <a v-if="genomeDetails.doi" :href="'https://doi.org/' + genomeDetails.doi" target="_blank">
                  {{ genomeDetails.doi }}
                </a>
              </td>
            </tr>
            <tr v-if="genomeDetails.ncbi_bioproject">
              <td>
                <strong>NCBI BioProject</strong>
              </td>
              <td>
                <a :href="'https://ncbi.nlm.nih.gov/bioproject/' + genomeDetails.ncbi_bioproject" target="_blank">
                  {{ genomeDetails.ncbi_bioproject }}
                </a>
              </td>
            </tr>
            <tr v-for="key in Object.keys(genomeDetails.metadata)" :key="key">
              <td>
                <strong>{{ key }}</strong>
              </td>
              <td>
                {{ genomeDetails.metadata[key] }}
              </td>
            </tr>
          </table>
        </div>

        <div class="modal-footer justify-content-center">
          <button class="btn btn-primary" data-dismiss="modal" @click="resetGenomeDetails">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="filterHelpModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="filterHelpTitle" class="modal-title">Filtering genome records</h5>
          <span class="close" data-dismiss="modal" @click="resetLabDetails">&times;</span>
        </div>

        <div id="filterHelpBody" class="modal-body">
          <table class="table">
            <tr>
              <td style="border-bottom: 1px solid #ddd; background: #eee;">Lab</td>
              <td style="border-bottom: 1px solid #ddd;">The research group that owns the Apollo server hosting this genome.</td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #ddd; background: #eee;">Species</td>
              <td style="border-bottom: 1px solid #ddd;">Scientific name of the species of origin.</td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #ddd; background: #eee;">Strain <small>(optional)</small></td>
              <td style="border-bottom: 1px solid #ddd;">The strain that the genome was derived from (e.g. bacteria, plants).</td>
            </tr>
            <tr>
              <td style="border-bottom: 1px solid #ddd; background: #eee;">Condition <small>(optional)</small></td>
              <td style="border-bottom: 1px solid #ddd;">Environmental or experimental condition that resulted in this genome (e.g. genetic manipulation, chemical exposure, cancer).</td>
            </tr>
            <!-- TBC: -->
            <!-- <tr>
              <td style="border-bottom: 1px solid #ddd; background: #eee;">Assembly</td>
              <td style="border-bottom: 1px solid #ddd;">The genome assembly version. Assembly versions arise from genetically identicle samples with technical variation in the assembly process..</td>
            </tr> -->
          </table>
        </div>

        <div class="modal-footer justify-content-center">
          <button class="btn btn-primary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/vue-multiselect@2.1.6"></script>
<script>

  const HIDE_FILTERS = {{ hide_filters|default:"[]" }};
  const FILTER_GENOMES_PARAMS = {{ filter_genomes_params|default:"{}" }};

  new Vue({
    el: '#app',
    components: {
      Multiselect: window.VueMultiselect.default,
    },
    data () {
      return {
        loading: true,
        genomes: [],
        textSearch: '',
        filters: {
          lab: {
            selected: [],
            options: [],
            hidden: HIDE_FILTERS.includes('lab'),
          },
          species: {
            selected: [],
            options: [],
            hidden: HIDE_FILTERS.includes('species'),
          },
          strain: {
            selected: [],
            options: [],
            hidden: HIDE_FILTERS.includes('strain'),
          },
          condition: {
            selected: [],
            options: [],
            hidden: HIDE_FILTERS.includes('condition'),
          },
        },
        labDetails: null,
        genomeDetails: null,
        views: {
          CARDVIEW: 0,
          LISTVIEW: 1,
        },
        selectedView: 0,
      }
    },
    computed: {
      filteredGenomes() {
        return this.genomes.filter( (genome) => {
          return (!this.filters.lab.selected.length || this.filters.lab.selected.includes(genome.lab))
            && (!this.filters.species.selected.length || this.filters.species.selected.includes(genome.species))
            && (!this.filters.strain.selected.length || this.filters.strain.selected.includes(genome.strain))
            && (!this.filters.condition.selected.length || this.filters.condition.selected.includes(genome.condition))
            && (
              !this.textSearch
              || (
                genome.name.toLowerCase() + genome.species.toLowerCase()
              ).includes(this.textSearch.toLowerCase()));
        });
      },
    },
    mounted () {
      this.fetchGenomes();
    },
    updated () {
      $('[data-toggle="tooltip"]').tooltip();
    },
    methods: {
      setView (view) {
        this.selectedView = view;
      },
      fetchGenomes () {
        let params = {};
        let urlParams = "";
        if (Object.keys(FILTER_GENOMES_PARAMS).length) {
          params = FILTER_GENOMES_PARAMS;
          urlParams = "?" + new URLSearchParams(params);
        }
        return fetch('/tracks/api/genomes' + urlParams)
          .catch(error => {
            alert(error);
          })
          .then(response => {
            if (!response.ok) {
              alert(`Error fetching genomes: ${response.statusText} (${response.status})`);
            }
            return response.json();
          })
          .then(data => {
            this.genomes = data.genomes;
            this.setFilterOptions();
            this.loading = false;
          });
      },
      fetchLab (name) {
        return fetch(`/tracks/api/labs?labs=${name}`)
          .catch(error => {
            alert(error);
          })
          .then(response => {
            if (!response.ok) {
              alert(`Error fetching lab: ${response.statusText} (${response.status})`);
            }
            return response.json();
          })
          .then(data => data.labs[name]);
      },
      showLab (name) {
        $('#labDetailsModal').modal('show');
        this.fetchLab(name).then(labData => {
          this.labDetails = labData;
        });
      },
      showGenome (data) {
        this.genomeDetails = data;
        $('#genomeDetailsModal').modal('show');
      },
      showFilterHelpModal () {
        $('#filterHelpModal').modal('show');
      },
      resetLabDetails () {
        this.labDetails = null;
      },
      resetGenomeDetails () {
        this.genomeDetails = null;
      },
      setFilterOptions () {
        Object.keys(this.filters).forEach(field => {
          this.filters[field].options = this.getFilterOptions(field);
        });
      },
      getFilterOptions (field) {
        const options = this.genomes.map(genome => genome[field])
          .filter((value, index, self) => self.indexOf(value) === index)
          .sort();
        if (!options[0]) {
          return [];
        }
        return options;
      },
      resetFilters () {
        Object.keys(this.filters).forEach(field => {
          this.filters[field].selected = [];
        });
      },
      capitalize (string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
    },
  });
</script>
