{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>Genomes | Australian Apollo Service</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-3">Genome tracks: {{ genome.name }}</h1>

  <hr class="my-3">

  <div class="row">
    <div class="col">

      <table>
        {% if genome.description_html %}
        <tr>
          <td>
            <strong>Genome description</strong>
          </td>
          <td>
            {{ genome.description_html|safe }}
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>
            <strong>Species</strong>
          </td>
          <td><i>{{ genome.species }}</i></td>
        </tr>
        <tr>
          <td>
            <strong>Strain</strong>
          </td>
          <td>{{ genome.strain }}</td>
        </tr>
        <tr>
          <td>
            <strong>Condition</strong>
          </td>
          <td>{{ genome.condition }}</td>
        </tr>
        {% if genome.reference or genome.doi %}
        <tr>
          <td>
            <strong>Reference</strong>
          </td>
          <td>
            {% if genome.reference %}
            {{ genome.reference }}
            {% endif %}
            {% if genome.doi %}
            <a href="https://doi.org/{{ genome.doi }}" target="_blank">{{ genome.doi }}</a>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% if genome.ncbi_bioproject %}
        <tr>
          <td>
            <strong>NCBI BioProject</strong>
          </td>
          <td>
            <a href="https://ncbi.nlm.nih.gov/bioproject/{{ genome.ncbi_bioproject }}" target="_blank">
              {{ genome.ncbi_bioproject }}
            </a>
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class="col-auto">
      <img style="height: 250px;" src="{{ genome.thumbnail }}" alt="{{ genome.species }} image">
    </div>
  </div>

  <hr class="my-3">

  <section class="my-5">
    {% include 'genomes/snippets/tracks-table.html' %}
  </section>

</div>
{% endblock %}
