#faq-accordion .card-header {
  padding: .25rem .5rem;
}
#faq-accordion .btn-link {
  position: relative;
  color: black;
  font-weight: bold;
  padding-left: 2rem;
  white-space: normal;
  text-align: left;
}
#faq-accordion .btn-link:hover {
  color: black;
  text-decoration: none;
}
#faq-accordion .btn-link::before,
#faq-accordion .btn-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  margin: 0;
  background: black;
  transition: 0.3s ease-in-out;
}
#faq-accordion .btn-link::before {
  transform: rotate(-45deg);
  left: 0;
  top: 1rem;
}
#faq-accordion .btn-link::after {
  transform: rotate(45deg);
  left: .4rem;
  top: 1rem;
}
#faq-accordion .btn-link.collapsed::before {
  transform: rotate(45deg);
}
#faq-accordion .btn-link.collapsed::after {
  transform: rotate(-45deg);
}
