main {
  padding-top: 0;
}
#cover-image {
  height: 100vh;
}
#cover-image .container {
  position: relative;
  padding-top: calc(45vh - 300px);
}
#cover-image img {
  width: 100%;
}
#cover-text {
  position: absolute;
  top: 25vh;
  z-index: 1;
  max-width: 35%;
  height: 100%;
}
#cover-image h1,
#cover-image h5,
#cover-image a {
  color: white;
  position: relative;
}
#cover-image h1 {
  top: 0;
}
#cover-image h5 {
  top: 0;
}
#cover-image a {
  top: 50px;
}
.apollo-cards a {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: .5rem;
}
.apollo-cards a {
 color: black;
 border-color: black;
}
.apollo-cards a:hover {
 color: var(--link);
 border-color: var(--link);
}
.apollo-cards h5 {
  transition: color .4s ease;
}
.apollo-cards h5,
.apollo-cards span {
 color: black;
}
.apollo-cards a:hover h5,
.apollo-cards a:hover span {
 color: var(--link);
}
.apollo-cards .material-icons {
  transition: color .4s ease;
  font-size: 2.5rem;
}

/* Responsive */
@media (max-width: 992px) {
  #cover-image .fish {
    width: 80%;
    margin-left: 20%;
  }
  #cover-image .container {
    padding-top: calc(45vh - 200px);
  }
  #cover-text {
    top: 30vh;
    height: 100%;
    max-width: 35%;
  }
  /* #cover-image h1 {
    top: 30vh;
  }
  #cover-image h5 {
    top: 30vh;
  }
  #cover-image a {
    top: 35vh;
  } */
}
@media (max-width: 768px) {

}
@media (max-width: 576px){
  #cover-image .fish {
    width: 100%;
    margin-left: -45px;
  }
  #cover-image .container {
    padding-top: calc(45vh - 300px);
  }
  #cover-text {
    top: 40vh;
    height: 100%;
    max-width: 80%;
    margin-left: 10%;
  }
}
