body {
  color: black;
  background-color: white;
}
main {
  min-height: calc(65vh - 80px);
  padding-top: 2rem;
  margin-bottom: 100px;
}
section {
  margin-bottom: 2rem;
}
blockquote {
  font-style: italic;
  padding: 1.6rem;
  border-left: 4px solid var(--link);
}
hr {
  border-top: 1px solid var(--border-grey);
  margin: 3rem 0;
}
h1 {
  margin-bottom: 4rem;
}
h3, h4 {
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}
code {
  display: inline-block;
}
th {
  color: black;
  background: white;
}
ol li ol {
  list-style: lower-alpha;
}
ol li ol li ol {
  list-style: lower-roman;
}
ol li {
  padding: .5rem 0;
}
.page-align-top {
  margin-top: -2rem;
}
.btn-primary {
  color: black;
  border: 1px solid black;
  border-radius: .3rem;
  background: white;
}
.btn-primary:hover {
  color: white;
  border: 1px solid var(--link);
  background-color: var(--link);
}
.doc-nav {
  margin-top: 4rem;
  padding: .25rem 0;
  width: 100%;
  border-top: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.doc-nav-item:last-child {
  text-align: right;
}
.doc-nav .arrow {
  font-size: 2rem;
  line-height: 0.5;
}

/* Font */
.monospace {
  font-family: monospace;
}

/* Theming */
.theme-black {
  color: white;
  background-color: var(--theme-color);
}
.theme-black .btn-primary {
  color: white;
  background: transparent;
  border: 1px solid white;
}
.theme-black p.text-muted {
  color: #aaa !important;
}

.theme-black-2 {
  color: white;
  background-color: var(--theme-color-2);
}
.theme-black-2 a {
  color: white;
}
.theme-black-2 a:hover {
  color: var(--link);
}

/* Sidebar nav */
.sidebar {
  display: flex;
  flex-direction: row;
  position: relative;
}
.sidebar .nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 80px 1rem 1rem 1rem;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.5);
}
.sidebar nav {
  text-align: center;
  background-color: transparent;
}
.sidebar nav ul {
  padding: 0;
  list-style-type: none;
}

/* Forms */
.form-check-input {
  margin-top: 0.45rem;
}
label.required:after {
  content: "*";
  color: black;
}
ul.errorlist {
  margin: .5rem 0;
  padding: .25rem .5rem;
  color: var(--error);
  list-style-type: none;
  border: 1px solid var(--error);
  border-radius: .5rem;
}

/* Footer */
footer .logo img {
  height: 50px;
  width: auto;
}
footer .logo {
  padding: .5rem;
}
footer .copyright {
  font-size: .8rem;
}
.footer-bottom-section {
  border-top: 4px double black;
  padding: .5rem 0;
}
