body {
  color: black;
  background-color: white;
}
main {
  min-height: calc(65vh - 80px);
  padding-top: 2rem;
  margin-bottom: 100px;
}
section {
  padding: 1.6rem 0;
}
blockquote {
  font-style: italic;
  padding: 1.6rem;
  border-left: 4px solid var(--link-hover);
}
a {
  color: var(--link-hover);
}
th {
  color: black;
  background: white;
}
ol li ol {
  list-style: lower-alpha;
}
ol li ol li ol {
  list-style: lower-roman;
}
.btn-primary {
  color: black;
  border-color: black;
  background: white;
}
.btn-primary:hover {
  color: white;
  border: 1px solid var(--link-hover);
  background-color: var(--link-hover);
}
.doc-nav {
  margin-top: 2rem;
  padding: .25rem 0;
  width: 100%;
  border-top: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Footer */
footer img {
  height: 50px;
  width: auto;
}
footer .copyright {
  font-size: .8rem;
}
.footer-bottom-section {
  border-top: 4px double black;
}
.theme-black {
  color: white;
  background-color: var(--theme-color);
}
.theme-black .btn-primary {
  color: white;
  background: transparent;
  border: 1px solid white;
}
