#search {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
#search .backdrop {
  width: 100vw;
  height: 100vh;
  padding: 2rem 5rem;
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  text-align: right;
  color: white;
  background-color: rgba(0.1,0.1,0.1,0.95);
}
#search .backdrop span {
  cursor: pointer;
  font-size: 3rem;
}
#search form {
  position: relative;
  z-index: 12;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#search input {
  color: white;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}
#search input:focus {
  outline: none;
}
#search button {
  width: 100px;
  background: transparent;
}
#search button span.material-icons {
  font-size: 2rem;
}
#search button:focus {
  outline: none;
}

/* Results page */
.hit {
  margin: 2rem 0;
}
.hit p.lead {
  font-size: 1.5rem;
  line-height: 1;
}
.hit p.link {
  font-size: 0.8rem;
}
.hit p.highlight {
  font-size: 1rem;
}
