{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>About | Apollo Portal</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>About the Apollo Service</h1>

  <section>
    <p>
      The Apollo Service is a
      <a href="https://genomearchitect.readthedocs.io/en/latest/index.html">
        workbench
      </a>
      for visualising, manipulating, analysing and interpreting life science data
      (specifically genome assemblies and genome annotations, and enabling the
      manual curation of genome annotations). The
      <a href="https://www.biocommons.org.au/">Australian BioCommons</a>
      (hosted by
      <a href="https://www.unimelb.edu.au/">The University of Melbourne</a>)
      operates the
      <a href="/">Australian Apollo Service</a>
      and Apollo Portal in collaboration with
      <a href="https://www.qcif.edu.au/">Queensland Cyber Infrastructure Foundation (QCIF)</a>
      with investment from
      <a href="https://bioplatforms.com/">Bioplatforms Australia (BPA)</a>,
      the
      <a href="https://ardc.edu.au/">Australian Research Data Commons (ARDC)</a>
      (<a href="https://doi.org/10.47486/PL105">https://doi.org/10.47486/PL105</a>)
      and the
      <a href=" https://science.des.qld.gov.au/funding/ricf">
        Queensland Government's Research Infrastructure Co-investment Fund (RICF)
      </a>.
      The Service is underpinned by computational resources provided by the
      <a href="https://pawsey.org.au/">Pawsey Supercomputing Research Centre</a>.
    </p>

    <p>
      When papers acknowledge the Australian Apollo Service, they support
      continued research infrastructure investments by institutions and
      governments. When you use the Australian Apollo Service to support your
      publication or project, please cite its use using the following
      acknowledgement statement and web address:
    </p>

    <blockquote>
      This work was supported by the Australian Apollo Service
      https://apollo-portal.genome.edu.au/ provided by the Australian BioCommons
      and Operational Partners.
    </blockquote>
  </section>
</div>
{% endblock %}
