{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">

    {% block head %}
    {% endblock %}

    <!-- Default title overridden by anything set in block head: -->
    <title>Australian Apollo Service</title>
  </head>

  <body>
    {% include 'home/snippets/nav.html' %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    {% include 'home/snippets/footer.html' %}

    {% include 'home/snippets/search.html' %}

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/search.js' %}"></script>

    <script>
      // Set active navbar item
      $(document).ready( () => {
        const PAGES = {
          '/': 'home',
          '/tracks': 'genomes',
          '/about': 'about',
          '/contact': 'contact',
          '/signup': 'signup',
          '/resources': 'resources',
        }
        Object.keys(PAGES).forEach( (pathname) => {
          if (pathname == '/' && window.location.pathname !== pathname) {
            return;
          }
          if (window.location.pathname.slice(0, pathname.length) === pathname) {
            $(`#nav-item-${PAGES[pathname]}`).addClass('active');
          }
        });
      });

      // Load material icons and display when page has loaded
      $('.material-icons').css('opacity', 0);
      document.fonts.onloadingdone = () => {
        $('.material-icons').css({
          'opacity': 1,
          'max-width': 'unset',
          'overflow': 'visible'
        });
      }

      // Enable bootstrap tooltips
      $( () => $('[data-toggle="tooltip"]').tooltip() );
    </script>

    {% block script %}
    {% endblock %}

  </body>
</html>
