{% load static %}

<footer class="footer">
  <div class="container">
    <section class="footer-top">
      <div class="row justify-content-center">
        <div class="logo">
          <a href="https://www.biocommons.org.au/" target="_blank">
            <img alt="Australian BioCommons" src="{% static 'home/img/footer/Australian-BioCommons-resized.png' %}">
          </a>
        </div>

        <div class="logo">
          <a href="https://ardc.edu.au/" target="_blank">
            <img alt="ardc" src="{% static 'home/img/footer/ARDC_logo_RGB.png' %}">
          </a>
        </div>

        <div class="logo">
          <a href="https://bioplatforms.com/" target="_blank">
            <img alt="Bioplatforms Australia" src="{% static 'home/img/footer/bioplatforms-audtralia-logo.png' %}">
          </a>
        </div>

        <div class="logo">
          <a href="https://pawsey.org.au/" target="_blank">
            <img alt="pawsy computing" src="{% static 'home/img/footer/pawsynew.png' %}">
          </a>
        </div>

        <div class="logo">
          <a href="https://www.qcif.edu.au/" target="_blank">
            <img alt="QCIF" src="{% static 'home/img/footer/QCIF_Logo_Master.jpg' %}">
          </a>
        </div>

        <div class="logo">
          <a href="https://www.qld.gov.au/" target="_blank">
            <img alt="Queensland Government" src="{% static 'home/img/footer/logo-qg-print.png' %}">
          </a>
        </div>

      </div>
    </section>

    <section class="footer-bottom-section">
      <div class="copyright">
        The content of this website is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/au/">Creative Commons Attribution 3.0 Australia License.</a>
        Please review our <a href="/resources/terms">Apollo Service Terms of Use and Policies.</a> The Apollo Service is operated by QCIF and underpinned by computational resources provided by the Pawsey Supercomputing Research Centre and receives NCRIS funding through Bioplatforms Australia and the Australian Research Data Commons (<a href="https://doi.org/10.47486/PL105">https://doi.org/10.47486/PL105)</a>, as well as Queensland Government RICF funding.
      </div>
    </section>
  </div>
</footer>
