{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>Getting Started | Apollo Portal </title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Getting started</h1>

  <p>This document provides guidance and information about:</p>
  <ol>
    <li>
      <a href="#getting-started">
        What Is The Apollo Service and How Do I Get Started?
      </a>
    </li>
    <li>
      <a href="#signup">
        How Do I Sign Up For An Apollo Instance?
      </a>
    </li>
  </ol>

  <ol>
    <li id="getting-started">
      <h3>What Is The Apollo Service and How Do I Get Started?</h3>

      <p>The <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006790">Apollo software package</a> is a web-based tool for visualising genomic contents and manually improving gene predictions. It allows researchers to work on a reference genome collaboratively. The Apollo Service provides Australian researchers with customised, local instances of the Apollo software for their genome projects, which we refer to as an 'Apollo Instance'. An Apollo Instance can support genomes of any size and is fully subsidised for <a href="/terms#AusUni">Australian-based</a> research groups and research consortia. Researchers can obtain an Apollo Instance by <a href="/signup">applying for an account</a>.</p>

      <p>If you would like to know more about the funding and operation of the Apollo Service please see our <a href="/about">About page</a>.</p>

      <p>A number of <a href="/resources">video and user resources</a> are available to help you get started using the Apollo Service.</p>
    </li>

    <li id="signup">
      <h3>How Do I Sign Up For An Apollo Instance?</h3>

      <p> Researchers can obtain an Apollo Instance by <a href="/signup">applying for an account</a>. If approved, your Apollo Instance will be created within 3 - 5 business days and once created, the Apollo Team will provide your account credentials to the nominated Project Administrator.</p>

      <p>In your application you must nominate:</p>

      <ul><li>A <b>Principal Investigator</b> who is affiliated with a recognised <a href="/termsofuse#AusUni">Australian academic or research institute</a>.</li>
        <li>A <b>Project Administrator</b> manages the overall Apollo Instance on behalf of the Reserch Group/Consortium, and can add, share or delete any data for any organism associated with the Apollo Instance, as well as add/remove any users, and also request the Instance is shut down.</li>
      </ul>

      <p>To sign up for an account </p>

      <ol><li>Go to <a class="myclass" href="/signup ">the Apollo Service sign up webpage</a></li>
        <li>Complete the form and click 'Register'.</li>
        </ol>
    </li>
  </ol>

  <div class="doc-nav">
    <div class="doc-nav-item">
      <!-- Nothing to the left &larr; -->
    </div>
    <div class="doc-nav-item">
      <a href="/documentation">
        User Documentation &rarr;
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
