{% extends 'home/header.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/css/resources.css' %}">

<title>
  Terms of Use | Apollo Portal
</title>
{% endblock %}


{% block content %}
<div class="container">
  <h1>Apollo Service Terms of Use and Policies</h1>

  <h2>Table of Contents</h2>
  <p>
    <a href="#one"> Definitions </a>
  </p>
  <p>
    <a href="#two"> Terms of Use </a>
  </p>
  <p>
    <a href="#three">
      Apollo Portal and Apollo Service Privacy Policy
    </a>
  </p>
  <p>
    <a href="#four">
      Apollo Portal and Apollo Service Operational Partners
    </a>
  </p>
  <p>
    <a href="#five"> Apollo Service Feature Catalogue </a>
  </p>
  <p>
    <a href="#six">
      Apollo Portal and Apollo Service Acceptable Use Policy
    </a>
  </p>
  <p>
    <a href="#seven">
      Apollo Service Acknowledgment Statement
    </a>
  </p>
  <p>
    <a href="#AusUni">
      List of Australian Research Institutions
    </a>
  </p>

  <section id="one"></section>

  <h2>Definitions</h2>

  <h3>
    Apollo
  </h3>
  <p>
    <a href="https://genomearchitect.readthedocs.io/">
      Apollo
    </a>
    <sup>
      <a href="#ref_1"> [1] </a>
    </sup>
    is a
    <a
      href="https://biotools.readthedocs.io/en/latest/curators_guide.html#webapplication"
    >
      web application
    </a>
    for visualising and sharing genome assemblies and annotations, and curating
    (i.e. manually improving) genome annotations.
  </p>

  <h3>Apollo Portal</h3>
  <p>
    The Apollo Portal is the website
    <a href="/">
      apollo-portal.genome.edu.au
    </a>
    where researchers can access information about the Apollo Service, access
    public genome tracks, and apply for the creation of an Apollo Instance.
    Users can also find relevant documentation and guidelines regarding service
    support, funding, acknowledgement, tutorials, and frequently asked
    questions.
  </p>

  <h3>Apollo Service</h3>
  <p>
    The “Apollo Service” (the Service) is offered by the
    <a href="https://www.biocommons.org.au/">
      Australian BioCommons
    </a>
    <sup>
      <a href="#ref_2"> [2] </a>
    </sup>
    and a number of its Operational Partners as part of their collective mission
    to provide access to the digital techniques, data and tools, used by
    environmental, agricultural and biomedical researchers.
  </p>
  <p>
    The Service includes hosted Apollo Instances where the majority of the
    systems administration tasks are taken care of by the Operators of the
    Service, allowingAustralian-based research groups to upload genome
    assembly, genome annotation and supporting evidence files, and focus on the
    annotation curation itself. Apollo Service is the complete Service that is
    provided to its users which includes the creation of an Apollo Instance,
    ongoing user support, maintenance of the instance, communications about the
    Service, the creation and improvement of tutorials and documentation, and
    the development and delivery of training materials and workshops.
  </p>

  <h3>Apollo Instance</h3>
  <p>
    An Apollo Instance is a virtual machine running the Apollo software that is
    used to host data owned by your research group or consortium created with
    the software package, Apollo
    <sup>
      <a href="#ref_1"> [1] </a>
    </sup>
    . The Apollo Instance, if granted, will be hosted on resources provided by
    the Apollo Service.
  </p>

  <h3 id="UserType">User Types</h3>
  <p>
    Due to the nature of how a hosted Apollo Instance can be created and managed
    through the Service, this document discerns between the following distinct
    user types and roles. Note that one individual may perform more than one of
    these roles.
  </p>
  <p></p>
  <div>
    <table class="table-bordered">
      <tbody>
        <tr>
          <td>
            <p>User Type</p>
          </td>
          <td>
            <p>
              <strong> Roles </strong>
            </p>
          </td>
          <td>
            <p>
              <strong> Responsibilities </strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Principal Investigator</p>
          </td>
          <td>
            <p>Principal Investigator</p>
          </td>
          <td>
            <p>
              Authorises a request for a hosted Apollo Instance on behalf of a
              Research Group or Research Consortium and must be affiliated with
              a
              <a href="#AusUni">
                recognised Australian academic or research institute
              </a>
              in a non-student capacity.
            </p>
            <p>
              Holds overall responsibility for the hosted Apollo Instance.
            </p>
            <p>
              The Principal Investigator is obliged to ensure all Administrators
              and End Users adhere to the terms and conditions laid out in this
              document.
            </p>
          </td>
        </tr>
        <tr>
          <td rowspan="3">
            <p>Administrator</p>
          </td>
          <td>
            <p>Project Administrator</p>
          </td>
          <td>
            <p>
              Is authorised by the Principal Investigator to oversee the
              management (adding/removing users, uploading/downloading data etc)
              of all Apollo Instances for the Research Group or Research
              Consortium.
            </p>
            <p>
              Any Administrator along with the Principal Investigator is obliged
              to ensure End Users adhere to the terms and conditions laid out in
              this document.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Organism Administrator</p>
          </td>
          <td>
            <p>
              Is authorised by the Project Administrator to oversee the
              management (adding/removing users, uploading/downloading data,
              publishing data, etc) of all data associated with an organism that
              is hosted within an Apollo Instance.
            </p>
            <p>
              Any Administrator along with the Principal Investigator is obliged
              to ensure End Users adhere to the terms and conditions laid out in
              this document.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Group Administrator</p>
          </td>
          <td>
            <p>
              Is authorised by the Project Administrator to administer groups of
              individuals that are associated with an Apollo Instance.
            </p>
            <p>
              Any Administrator along with the Principal Investigator is obliged
              to ensure End Users adhere to the terms and conditions laid out in
              this document.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>End User</p>
          </td>
          <td>
            <p>Curator</p>
          </td>
          <td>
            <p>
              Is authorised by the Project Administrator to curate (i.e. modify)
              genome annotation data associated with an Apollo Instance in order
              to improve the quality of the genome annotation.
            </p>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <p>Viewer</p>
          </td>
          <td>
            <p>Restricted Viewer</p>
          </td>
          <td>
            <p>
              Is granted by the Project Administrator to view the data (genome)
              associated with a specific, private Apollo Instance. No changes
              can be made to the data.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Anonymous (public) Viewer</p>
          </td>
          <td>
            <p>
              Is granted by the Project Administrator to view the data (genome)
              associated with a publicly listed Apollo Instance. i.e. the
              Project Administrator provides public access to the data, and
              neither registration nor login is required from an Anonymous
              Viewer. No changes can be made to the data.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3>Customer Roles</h3>
  <ul>
    <li>
      Principal Investigators and Administrators (i.e. Project Administrators,
      Organism Administrators and Group Administrators), are considered to be
      the primary customers of the Apollo Service and must adhere to the Apollo
      Service Terms of Use and Policies.
    </li>
    <li>
      Principal Investigators and Administrators can invite or otherwise permit
      End Users or Viewers to interact with their hosted Apollo Instance, and as
      such are obliged to ensure End Users and Viewers adhere to the terms and
      conditions laid out in this document.
    </li>
  </ul>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="two"></section>

  <h2>
    Terms of Use
  </h2>

  <p>Interaction with any of:</p>

  <ol>
    <li>
      The Apollo Portal website
      <a href="/">
        apollo-portal.genome.edu.au
      </a>
      , or
    </li>
    <li>
      Apollo browser workspaces hosted through the Apollo Service (these are
      denoted by URLs in the format
      https://YourHostName.genome.edu.au/apollo/annotator), or
    </li>
    <li>
      JBrowse-based genome browsers hosted through the Apollo Service (these are
      denoted by URLs in the format
      https://YourHostName.genome.edu.au/apollo/jbrowse).
    </li>
  </ol>
  <p>
    Denotes agreement with the following terms:
  </p>
  <ol>
    <li>
      <strong>Use of service</strong>
      <ol>
        <li>
          The Apollo Portal and Apollo Service are part of the Australian BioCommons
          suite of services that aim to provide fully subsidised access to publicly
          available services. At the discretion of an Apollo Administrator,
          anonymous use by Anonymous (public) Viewers of data is permitted.
        </li>
        <li>
          Principal Investigators affiliated with a
          <a href="#AusUni">
            recognised Australian academic or research institute
          </a>
          may choose to register for an account via the Apollo Portal on behalf of
          their Research Group or a Research Consortium in order to access the
          features described in our
          <a href="#FeatureCat"> feature catalogue </a>
          .
        </li>
        <li>
          Administrators (including Project Administrators, Organism Administrators
          and Group Administrators) are authorised to add/remove data and End Users
          (Curators) and Viewers in accordance with the features described in our
          <a href="#FeatureCat"> feature catalogue </a>
          .
        </li>
        <li>
          End Users (Curators) are authorised to modify data in accordance with the
          features described in our feature catalogue.
        </li>
        <li>
          Your access to Apollo Portal and Apollo Service (no matter what role) is
          provided under the condition that you abide by the
          <a href="#AcceptUse">
            Apollo Portal and Apollo Service Acceptable Use Policy.
          </a>
        </li>
        <li>
          You indemnify and hold the Apollo Service Operational Partners free and
          harmless in connection with your use of the service.
        </li>
        <li>
          You agree to acknowledge use of the Apollo Service in your research
          outputs using the format of our
          <a href="#Acknowledge">
            Apollo Service Acknowledgement Statement.
          </a>
        </li>
      </ol>
    </li>

    <li>
      <strong> Data hosting and analysis </strong>
      <ol>
        <li>
          The Apollo Service is designed to support visualising, curating,
          annotating and sharing genome assemblies and annotations. If you choose to
          upload and host data in the Service you shall ensure that you comply with
          applicable laws, including, but not limited to, privacy, data protection
          and intellectual property rights. It is the responsibility of the
          Principal Investigator and Project Administrator of an Apollo Instance to
          notify End Users of their responsibility to comply with these laws.
        </li>
        <li>
          The Apollo Service is not designed to handle sensitive data, including
          potentially re-identifiable data. You are prohibited from using the
          Service to store or process sensitive data, including but not limited to
          personally identifying genetic, genomic or medical data.
        </li>
        <li>
          Due to the incremental and long-term nature of manual genome annotation
          curation, the Apollo Service is designed for long term storage of genome
          assembly and annotation data. However, the overall Service is subject to
          storage quota limits, and it is necessary for Project and Organism
          Administrators, to routinely monitor the volume of large supporting data
          files (e.g. BAM) associated with each organism. Please only host large
          supporting data files for the period required for analysis/curation and
          then export/download supporting data files.
        </li>
        <li>
          If an Instance is underutilised, the Apollo Service Operational Partners
          reserve the right to reallocate the resources to other users.
        </li>
        <li>
          It is the responsibility of the Principal Investigator and Project
          Administrator to ensure all other Administrators, Curators and End Users
          have read, acknowledged and adhered to these Terms of Use.
        </li>
      </ol>
    </li>

    <li>
      <strong> Sharing content </strong>
      <ol>
        <li>
          The Apollo Service is designed to support open science. Project and
          Organism Administrators may choose to share “content” (such as
          annotations).
        </li>
        <li>
          Principal Investigators, Project and Organism Administrators and any End
          Users (Curators) associated with each organism are the collective owners
          of this content.
        </li>
        <li>
          Principal Investigators, Project and Organism Administrators can choose to
          delete their content at any time.
        </li>
        <li>
          Download and use of content from the Apollo Portal and Apollo Service do
          not transfer any intellectual property rights in the content to you.
        </li>
      </ol>
    </li>

    <li>
      <strong> Termination </strong>
      <ol>
        <li>
          The Apollo Service Operational Partners reserve the right, without notice,
          at its sole discretion and without liability:
          <ol>
            <li>
              to alter, delete or block access to content that it deems to be
              inappropriate, and
            </li>
            <li>
              to restrict or remove access where it considers that your use of the
              Apollo Portal and Apollo Service interferes with its operations or
              violates these Terms of Use or applicable laws.
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>
      <strong> Change of terms </strong>
      <ol>
        <li>
          These Terms of Use are subject to change at any time and without notice.
          Updates or modifications to the Terms of Use will be communicated on the
          <a href="/">
            apollo-portal.genome.edu.au/
          </a>
          website and via email to registered account holders.
        </li>
      </ol>
    </li>

    <li>
      <strong> Service maintenance and downtime </strong>
      <ol>
        <li>
          The Apollo Service will have scheduled recurring and occasional
          maintenance downtime for updates and security patching of the Service.
          Recurring scheduled maintenance downtime will occur each Monday morning
          between 8:00 am and 9:00 am AEST. During these periods, the Service may
          become momentarily unavailable due to necessary and unavoidable
          maintenance and/or testing.
        </li>
        <li>
          Occasional scheduled maintenance downtimes will be reserved for larger
          upgrades, updates or testing, and will occur irregularly outside of the
          normal scheduled recurring maintenance timeframes. Users will be notified
          two weeks prior to an occasional scheduled maintenance downtime via email
          communication at the address provided by the user when joining the Apollo
          Service.
        </li>
        <li>
          In the event of a security breach, Apollo Portal and Apollo Service may
          need to perform urgent maintenance resulting in Service downtime at a time
          other than the scheduled maintenance windows. In this case, Apollo Portal
          and Apollo Service will make every effort to give the user/s as much
          advance notice as is possible to limit disruption.
        </li>
      </ol>
    </li>
  </ol>

  <p>
    If you have any questions or comments with respect to the Apollo Portal and
    Apollo Service, or if you are unsure whether your intended use is in line
    with these Terms of Use, or if you seek permission for a use that does not
    fall within these Terms of Use, please contact us via
    <a href="mailto:apollo-support@genome.edu.au">apollo-support@genome.edu.au</a>.
  </p>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="three"></section>

  <h2>
    Apollo Portal and Apollo Service Privacy Policy
  </h2>

  <p>
    Apollo Portal and Apollo Service are committed to protecting your privacy.
    The Apollo Service Operational Partners do not collect, process, retain or
    share personal data other than for the purposes described below.
  </p>

  <ol>
    <li>
      <strong> Usage data </strong>
      <ol>
        <li>
          <p>
            In order to monitor and enhance Apollo Portal and Apollo Service, the
            Apollo Service Operational Partners track and retain information about
            your interaction with the Service (i.e. IP addresses, cookies, pages
            visited, etc).
          </p>
        </li>
        <li>
          <p>
            The Apollo Service Operational Partners may share log files of
            interactions with the Service in aggregation with our Operational
            Partners.
          </p>
        </li>
        <li>
          <p>
            The Apollo Service Operational Partners may share debugging information
            with the Apollo
            <sup>
              <a href="#ref_3"> [3] </a>
            </sup>
            and JBrowse
            <sup>
              <a href="#ref_4"> [4] </a>
            </sup>
            developers to improve their systems. When the Apollo Service Operational
            Partners do, the Apollo Service Operational Partners aggregate and
            anonymise this data to protect your privacy.
          </p>
        </li>
        <li>
          <p>
            For promotional reasons and reporting to funding bodies, Apollo Portal
            and Apollo Service periodically create public usage reports. When the
            Apollo Service Operational Partners do, the Apollo Service Operational
            Partners aggregate and anonymise this data to protect your privacy.
          </p>
        </li>
      </ol>
    </li>

    <li>
      <strong> Registration data </strong>
      <ol>
        <li>
          <p>
            If you choose to register an account with Apollo Portal and Apollo
            Service, the Apollo Service Operational Partners collect registration
            data (i.e. email address, institutional affiliation and public name).
          </p>
        </li>
        <li>
          <p>
            Apollo Portal and Apollo Service may contact registered account holders
            using the email address they provide for operational reasons,
            including:
          </p>
          <ol>
            <li>
              <p>Checking user account security;</p>
            </li>
            <li>
              <p>Communicating service downtime;</p>
            </li>
            <li>
              <p>Communicating service improvements;</p>
            </li>
            <li>
              <p>
                Communicating actions the Apollo Service Operational Partners are
                taking with respect to data quotas, retention periods, and compute
                resource usage;
              </p>
            </li>
            <li>
              <p>Responding to support requests;</p>
            </li>
            <li>
              <p>
                Surveying existing and planned use in order to improve and promote
                the Service;
              </p>
            </li>
            <li>
              <p>Discussing breaches of these Terms of Use, and;</p>
            </li>
            <li>
              <p>
                Communicating updates to Apollo Portal and Apollo Service policies.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            Apollo Portal and Apollo Service may contact registered account holders
            using the email address they provide for promotional reasons, such as
            seeking consent and content for newsletters, annual reports or media
            releases by the Australian BioCommons, operational partners and funding
            partners.
          </p>
        </li>
        <li>
          <p>
            Apollo Portal and Apollo Service list the names of Research Group/Lab or
            Consortium using the Service on
            <a href="/organisms">
              this page</a>.
          </p>
        </li>
      </ol>
    </li>

    <li>
      <strong> Data you upload and share </strong>
      <ol>
        <li>
          <p>
            Apollo Portal and Apollo Service stores data that you provide to us
            voluntarily when you upload data or annotate data.
          </p>
        </li>
        <li>
          <p>
            You are prohibited from using Apollo Portal and Apollo Service to host
            or process sensitive data, including but not limited to potential
            re-identifiable or identifiable personal data.
          </p>
        </li>
        <li>
          <p>
            The Apollo Service Operational Partners may examine the data you share
            through the Service for alignment with our Apollo Portal and Apollo
            Service Acceptable Use Policy.
          </p>
        </li>
      </ol>
    </li>

    <li>
      <strong> Support requests </strong>
      <ol>
        <li>
          <p>
            When you submit a support request with Apollo Service, the Apollo
            Service Operational Partners collect your email address and may ask for
            personal data as part of the support process.
          </p>
        </li>
        <li>
          <p>
            Data collected as part of a support request is stored in an instance of
            Freshdesk and is subject to the Freshworks Privacy Policy which can be
            found at
            <a href="https://freshworks.com/privacy/">
              https://freshworks.com/privacy</a>.
          </p>
        </li>
      </ol>
    </li>

    <li>
      <strong> Cookies </strong>
      <ol>
      <li>
          <p>
            Apollo Portal and Apollo Service use cookies to identify users/computers
            in order to maintain user sessions (e.g. to provide/maintain analysis
            results while you browse the website).
          </p>
        </li>
        <li>
          <p>
            Apollo Portal and Apollo Service cookies are not linked to your personal
            information.
          </p>
        </li>
        <li>
          <p>
            If you prefer not to receive cookies, you may set your browser to warn
            you before accepting cookies or you may also refuse all cookies by
            turning them off in your browser. Not accepting Apollo Portal and Apollo
            Service cookies will limit the functionality of the Service.
          </p>
        </li>
      </ol>
    </li>

    <li>
      <strong> Data location </strong>
      <ol>
        <li>
          <p>
            Google Analytics uses cookies to generate data that may be transmitted
            and stored in Google servers outside Australia.
          </p>
        </li>
        <li>
          <p>
            User support data managed by Freshdesk may be stored outside Australia.
          </p>
        </li>
        <li>
          <p>
            All other data is stored and processed in Australia by our Operational
            Partners, and will not be provided to any third party unless
          </p>
          <ol>
            <li>
              <p>You choose to share content through the Service, and;</p>
            </li>
            <li>
              <p>
                The Apollo Service Operational Partners are required to do so by
                law.
              </p>
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>
      <strong> Modifying and removing personal data </strong>
      <ol>
        <li>
          The personal information collected by Apollo Portal and Apollo Service for
          registered account holders includes name, organisation and email address
          associated with the Apollo Instance. Optimally the Apollo Service
          Operational Partners may also store a user's account name and GitHub
          account name.
        </li>
        <li>
          Registered account holders can modify collected information or request the
          removal of personal information at any time with effect for the future by
          emailing
          <a href="mailto:apollo-support@genome.edu.au">
            apollo-support@genome.edu.au</a>.
        </li>
      </ol>
    </li>
  </ol>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="four"></section>

  <h2>
    Apollo Portal and Apollo Service Operational Partners
  </h2>

  <p>
    The
    <a href="https://www.biocommons.org.au/">
      Australian BioCommons
    </a>
    (hosted by
    <a href="https://www.unimelb.edu.au/">
      The University of Melbourne
    </a>
    ) operates Apollo Portal Service in collaboration with
    <a href="https://www.qcif.edu.au/">
      Queensland Cyber Infrastructure Foundation
    </a>
    with investment from the
    <a href="https://science.des.qld.gov.au/funding/ricf">
      Queensland Government's Research Infrastructure Co-investment Fund (RICF)
    </a>
    , the
    <a href="https://ardc.edu.au/">
      Australian Research Data Commons
    </a>
    (
    <a href="https://doi.org/10.47486/PL105">
      https://doi.org/10.47486/PL105
    </a>
    ) and
    <a href="https://bioplatforms.com/">
      Bioplatforms Australia</a>.
    The Service is underpinned by computational resources provided by the
    <a href="https://pawsey.org.au/">
      Pawsey Supercomputing Centre</a>.
  </p>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="five"></section>

  <h2 id="FeatureCat">
    Apollo Service Feature Catalogue
  </h2>

  <p>Apollo Service features and quotas by account type</p>

  <div id="feature-catalog-table">
    <table>
      <tbody>
        <thead>
          <th></th>
          <th>
            <p>Principal Investigator</p>
          </th>
          <th>
            <p>Project Administrator</p>
          </th>
          <th>
            <p>Organism Administrator</p>
          </th>
          <th>
            <p>Group Administrator</p>
          </th>
          <th>
            <p>End User Curator</p>
          </th>
          <th>
            <p>Viewer</p>
          </th>
        </thead>
        <tr>
          <td>
            <p>Request Apollo Instance</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Add/Delete User</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Add/Delete Organism</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Create Group</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Add person to Organism</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Add person to group</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Add/delete Data</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Curate (modify) annotations</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>View</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Export (download) Data</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Publish</p>
          </td>
          <td>
            <p>✗</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>✓</p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>
              DBPA
              <sup>
                <a href="#ref_5"> [5] </a>
              </sup>
            </p>
          </td>
          <td>
            <p>✗</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Data upload Quota</p>
          </td>
          <td colspan="5">
            <p>
              Quota cap at 1 TB. Increased quotas may be possible for set
              periods of time, and are dependent on availability of shared data
              storage resources.
            </p>
          </td>
          <td>
            <p>n/a</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Data retention period</p>
          </td>
          <td colspan="5">
            <p>
              Apollo Service Operational Partners will ensure that all data
              uploaded to an Instance (within the data quota limits outlined
              above) will be retained for the lifetime of the Service. This is
              defined by the operational horizon of the Australian BioCommons,
              which is currently until 30 June 2023.
            </p>
          </td>
          <td>
            <p>n/a</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>
    Principal Investigators must be affiliated with a recognised Australian
    academic or research institute, and register using an email address from our
    <a href="#AusUni">
      list of Australian research institutions</a>.
  </p>

  <h3>
    Best effort operations
  </h3>

  <p>
    The Apollo Service Operational Partners realise that the data and
    annotations you host with Apollo Service are important to you. For
    that reason, the Apollo Service Operational Partners commit to making the
    best efforts to keep the Service as reliable and responsive as possible and
    to keep your data intact.
  </p>
  <p>
    Our operational staff work normal Australian East Coast office hours. During
    those hours the Apollo Service Operational Partners aim to triage tickets,
    tool requests and reference data requests within one business day.
    Resolution of tickets, requests, outages and issues will take longer outside
    normal office hours, on weekends, and on public holidays.
  </p>
  <p>
    The Apollo Service runs research-grade infrastructure contributed by the
    Apollo Service Operational Partners. Apollo Portal and Apollo Service's
    reliability and capacity may be impacted if partner infrastructure
    unexpectedly becomes unavailable.
  </p>

  <h3>
    Service capacity
  </h3>

  <p>
    The Apollo Service is underpinned by significant compute and storage
    capabilities, allowing you to scale analysis beyond your desktop computer.
    The Apollo Service Operational Partners periodically project capacity
    requirements, taking into account growth in users, jobs and community
    requests for new types of analysis that might need specialised hardware.
    From time to time the Apollo Service may reach capacity, resulting in delays
    in provisioning new Apollo Instances.
  </p>

  <h3>
    Service lifetime
  </h3>

  <p>
    The service will continue for the lifetime of the Australian BioCommons,
    which is currently funded until June 2023.
    In case of closure of the Service, registered account holders can download
    their hosted data and content via Apollo's existing
    <a
      href="https://genomearchitect.readthedocs.io/en/latest/UsersGuide.html#exporting-data"
    >
      export mechanisms</a>.
  </p>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="six"></section>

  <h2 id="AcceptUse">
    Apollo Portal and Apollo Service Acceptable Use Policy
  </h2>

  <ol>
    <li>
      You may use the Apollo Service to visualise, manipulate, analyse and
      interpret life science data for the purposes of research.
    </li>
    <li>
      <p>
        You agree to interact with the Apollo Portal and Apollo Service
        Community (defined as other users of the service, technical support
        staff, operational staff, and those involved in the governance of the
        service) in a responsible and respectful manner at all times, consistent
        with the
        <a href="https://doi.org/10.5281/zenodo.4276854">
          Australian BioCommons Code of Conduct.
        </a>
      </p>
    </li>
    <li>
      <p>
        The following uses of the Apollo Portal and Apollo Service are
        explicitly forbidden:
      </p>
      <ol>
        <li>
          <p>
            The deliberate or reckless creation, transmission, storage,
            downloading, or display of any offensive or menacing images, data,
            metadata or other material, or any data capable of being resolved
            into such images or material;
          </p>
        </li>
        <li>
          <p>
            Use which constitutes an infringement of any intellectual property
            rights of another person or group;
          </p>
        </li>
        <li>
          <p>
            The creation of duplicate user accounts and/or double registration
            by a single user for the purposes of intentionally receiving
            increased quota on the Apollo Service;
          </p>
        </li>
        <li>
          <p>
            Attempt to circumvent the appropriate authentication or access
            control measures, security or restrictions on the use of a
            registered account, including the unauthorised distribution or use
            of tools of any kind for compromising security;
          </p>
        </li>
        <li>
          <p>
            The storage or processing of any sensitive data, including but not
            limited to potentially personally identifying genetic, genomic or
            medical data;
          </p>
        </li>
        <li>
          <p>
            Communications which would be actionable under the law of
            defamation;
          </p>
        </li>
        <li>
          <p>
            Use for private or business purposes other than scientific research,
            and;
          </p>
        </li>
        <li>
          <p>
            Deliberate or reckless undertaking of activities which seek to, or
            result in:
          </p>
          <ol>
            <li>
              <p>
                the imposition of (or attempted imposition of) an unreasonable
                burden on the Apollo Portal and Apollo Service Systems
                Administration team;
              </p>
            </li>
            <li>
              <p>
                corruption of, or disruption to, data stored on the Apollo
                Portal and Apollo Service, or to the data of another user;
              </p>
            </li>
            <li>
              <p>disruption to other users, and/or;</p>
            </li>
            <li>
              <p>
                introduction or transmission of malware into the Apollo Portal
                and Apollo Service's systems.
              </p>
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>

  <p>
    Other uses of the Apollo Portal and Apollo Service are only
    permitted with the written permission of the Apollo Service Manager (contact
    via
    <a href="mailto:apollo-support@genome.edu.au">
      apollo-support@genome.edu.au</a>).
  </p>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="seven"></section>

  <h2 id="Acknowledge">Apollo Service Acknowledgment Statement</h2>

  <p>
    The Apollo Service is operated by QCIF and underpinned by computational
    resources provided by the Pawsey Supercomputing Centre and receives NCRIS
    funding through Bioplatforms Australia and the Australian Research Data
    Commons
    (<a href="https://doi.org/10.47486/PL105">https://doi.org/10.47486/PL105</a>),
    as well as Queensland Government RICF funding.
  </p>
  <p>
    When papers acknowledge the Australian Apollo Service, they support
    continued research infrastructure investments by institutions and
    governments. When you use the Australian Apollo Service to support your
    publication or project, please cite its use using the following
    acknowledgement statement and web address:
  </p>
  <p>
    This work was supported by the Australian Apollo Service
    <a href="/">
      https://apollo-portal.genome.edu.au/
    </a>
    provided by the Australian BioCommons and Operational Partners.
  </p>

  <p>
    <a href="#">
      <span class="material-icons"> arrow_upward </span>
      Return to top of page
    </a>
  </p>

  <section id="eight"></section>

  <h2 id="AusUni">List of Australian Research Institutions</h2>
  <p>
    The Apollo Portal and Apollo Service are for use by publicly funded
    Australian researchers (and their international collaborators), as described
    in our feature catalogue. Access to the features and quotas is available to
    Principal Investigators registered using an email address from one of the
    Australian Research Institutions listed in the table below. The Apollo
    Service Operational Partners acknowledge that this list may not be
    exhaustive. Please contact us (
    <a href="mailto:apollo-support@genome.edu.au">
      apollo-support@genome.edu.au
    </a>
    ) to request the addition of your research institution to this list.
  </p>

  <table class="table-bordered">
    <tbody>
      <thead>
        <th>
          Australian research institution
        </th>
        <th>
          Email domains
        </th>
      </thead>
      <tr>
        <td>
          ANZAC Research Institute
        </td>
        <td>
          @anzac.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Australia New Zealand Gynaecological Oncology Group
        </td>
        <td>
          @anzgog.org.au
        </td>
      </tr>
      <tr>
        <td>
          Australian Catholic University
        </td>
        <td>
          @myacu.edu.au, @acu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Australian Centre for Heart Health
        </td>
        <td>
          @australianhearthealth.org.au
        </td>
      </tr>
      <tr>
        <td>

            Australian Institute of Aboriginal and Torres Strait Islander
            Studies
          </p>
        </td>
        <td>
          @aiatsis.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Australian Institute of Marine Science
        </td>
        <td>
          @aims.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Australian Museum
        </td>
        <td>
          @nma.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Australian National University
        </td>
        <td>
          @anu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Australian Red Cross
        </td>
        <td>
          @redcrossblood.org.au
        </td>
      </tr>
      <tr>
        <td>
          Baker Heart and Diabetes Institute
        </td>
        <td>
          @baker.edu.au, @bakeridi.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Bond University
        </td>
        <td>
          @bond.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Burnet Institute
        </td>
        <td>
          @burnet.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Calvary
        </td>
        <td>
          @calvarymater.org.au
        </td>
      </tr>
      <tr>
        <td>
          Cancer Council NSW
        </td>
        <td>
          @nswcc.org.au
        </td>
      </tr>
      <tr>
        <td>
          Cancer Council Queensland
        </td>
        <td>
          @cancerqld.org.au
        </td>
      </tr>
      <tr>
        <td>
          Cancer Council Victoria
        </td>
        <td>
          @cancervic.org.au
        </td>
      </tr>
      <tr>
        <td>
          Centenary Institute of Cancer Medicine and Cell Biology
        </td>
        <td>
          @centenary.org.au
        </td>
      </tr>
      <tr>
        <td>
          Central Adelaide Local Health Network Incorporated
        </td>
        <td>
          @sa.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Central Australian Aboriginal Congress Aboriginal Corporation
        </td>
        <td>
          @caac.org.au
        </td>
      </tr>
      <tr>
        <td>
          Central Queensland University
        </td>
        <td>
          @cqu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Centre for Eye Research Australia
        </td>
        <td>
          @cera.org.au
        </td>
      </tr>
      <tr>
        <td>
          Charles Darwin University
        </td>
        <td>
          @cdu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Charles Sturt University
        </td>
        <td>
          @csu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Children's Medical Research Institute
        </td>
        <td>
          @cmri.org.au
        </td>
      </tr>
      <tr>
        <td>
          CSIRO
        </td>
        <td>
          @csiro.au
        </td>
      </tr>
      <tr>
        <td>
          Curtin University
        </td>
        <td>

            @curtin.edu.au, @student.curtin.edu.au, @postgrad.curtin.edu.au
          </p>
        </td>
      </tr>
      <tr>
        <td>
          Deakin University
        </td>
        <td>
          @deakin.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Ear Science Institute Australia Incorporated
        </td>
        <td>
          @earscience.org.au
        </td>
      </tr>
      <tr>
        <td>
          Edith Cowan University
        </td>
        <td>
          @ecu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Federation University Australia
        </td>
        <td>
          @federation.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Flinders University
        </td>
        <td>
          @flinders.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Florey Institute of Neuroscience and Mental Health
        </td>
        <td>
          @florey.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Griffith University
        </td>
        <td>
          @griffith.edu.au, @griffithuni.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Health Support Queensland
        </td>
        <td>
          @health.qld.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Heart Research Institute
        </td>
        <td>
          @hri.org.au
        </td>
      </tr>
      <tr>
        <td>
          Hudson Institute of Medical Research
        </td>
        <td>
          @hudson.org.au
        </td>
      </tr>
      <tr>
        <td>
          Institute for Breathing and Sleep
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          James Cook University
        </td>
        <td>
          @jcu.edu.au, @my.jcu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          La Trobe University
        </td>
        <td>
          @latrobe.edu.au, @students.latrobe.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Ludwig Institute for Cancer Research
        </td>
        <td>
          @ludwig.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Macquarie University
        </td>
        <td>
          @mq.edu.au, @students.mq.edu.au, @hdr.mq.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Mater Research
        </td>
        <td>
          @mater.org.au
        </td>
      </tr>
      <tr>
        <td>
          Melanoma Institute Australia
        </td>
        <td>
          @melanoma.org.au
        </td>
      </tr>
      <tr>
        <td>
          Melbourne Health
        </td>
        <td>
          @mh.org.au
        </td>
      </tr>
      <tr>
        <td>
          Menzies School of Health Research
        </td>
        <td>
          @menzies.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Metro South Hospital and Health Service
        </td>
        <td>
          @health.qld.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Monash University
        </td>
        <td>
          @monash.edu, @student.monash.edu
        </td>
      </tr>
      <tr>
        <td>
          Murdoch Childrens Research Institute
        </td>
        <td>
          @mcri.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Murdoch University
        </td>
        <td>
          @murdoch.edu.au, @student.murdoch.edu.au, @ccg.murdoch.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Museum Victoria
        </td>
        <td>
          @museum.vic.gov.au
        </td>
      </tr>
      <tr>
        <td>
          National Acoustic Laboratories
        </td>
        <td>
          @nal.gov.au
        </td>
      </tr>
      <tr>
        <td>
          National Ageing Research Institute
        </td>
        <td>
          @nari.edu.au
        </td>
      </tr>
      <tr>
        <td>

            National Institute for Aboriginal and Torres Strait Islander
            Health Research
          </p>
        </td>
        <td>
          @lowitja.org.au
        </td>
      </tr>
      <tr>
        <td>
          NSW Health Pathology
        </td>
        <td>
          @health.nsw.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Peter MacCallum Cancer Centre
        </td>
        <td>
          @petermac.org
        </td>
      </tr>
      <tr>
        <td>
          Queensland University of Technology
        </td>
        <td>
          @qut.edu.au
        </td>
      </tr>
      <tr>
        <td>
          RMIT University
        </td>
        <td>
          @rmit.edu.au, @student.rmit.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Royal Brisbane and Women's Hospital Foundation
        </td>
        <td>
          @rbwhfoundation.com.au
        </td>
      </tr>
      <tr>
        <td>
          South Australian Health and Medical Research Institute
        </td>
        <td>
          @sahmri.com
        </td>
      </tr>
      <tr>
        <td>
          South Australian Museum
        </td>
        <td>
          @samuseum.sa.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Southern Cross University
        </td>
        <td>
          @scu.edu.au, @student.scu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          St Vincent's Institute of Medical Research
        </td>
        <td>
          @svi.edu.au
        </td>
      </tr>
      <tr>
        <td>
          St Vincent’s Health Australia
        </td>
        <td>
          @svha.org.au
        </td>
      </tr>
      <tr>
        <td>
          Swinburne University of Technology
        </td>
        <td>
          @swin.edu.au, @student.swin.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Sydney Local Health District
        </td>
        <td>
          @health.nsw.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Telethon Kids Institute
        </td>
        <td>
          @telethonkids.org.au
        </td>
      </tr>
      <tr>
        <td>
          The Asbestos Diseases Research Institute
        </td>
        <td>
          @adri.org.au
        </td>
      </tr>
      <tr>
        <td>
          The Bionics Institute of Australia
        </td>
        <td>
          @bionicsinstitute.org
        </td>
      </tr>
      <tr>
        <td>
          Queensland Institute of Medical Research
        </td>
        <td>
          @qimr.edu.au, @qimrberghofer.edu.au
        </td>
      </tr>
      <tr>
        <td>
          The Garvan Institute of Medical Research
        </td>
        <td>
          @garvan.org.au
        </td>
      </tr>
      <tr>
        <td>
          The George Institute for Global Health
        </td>
        <td>
          @georgeinstitute.org
        </td>
      </tr>
      <tr>
        <td>
          The Olivia Newton-John Cancer Research Institute
        </td>
        <td>
          @onjcri.org.au
        </td>
      </tr>
      <tr>
        <td>
          The Prince Charles Hospital
        </td>
        <td>
          @health.qld.gov.au
        </td>
      </tr>
      <tr>
        <td>
          The Sax Institute
        </td>
        <td>
          @saxinstitute.org.au
        </td>
      </tr>
      <tr>
        <td>
          The University of Adelaide
        </td>
        <td>
          @adelaide.edu.au
        </td>
      </tr>
      <tr>
        <td>
          The University of New England
        </td>
        <td>
          @une.edu.au
        </td>
      </tr>
      <tr>
        <td>
          The University of Newcastle
        </td>
        <td>
          @newcastle.edu.au
        </td>
      </tr>
      <tr>
        <td>
          The University of Notre Dame Australia
        </td>
        <td>
          @nd.edu.au
        </td>
      </tr>
      <tr>
        <td>
          The University of Queensland
        </td>
        <td>
          @uq.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Walter and Eliza Hall Institute
        </td>
        <td>
          @wehi.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Torrens University Australia
        </td>
        <td>
          @torrens.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Townsville Hospital and Health Service
        </td>
        <td>
          @health.qld.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Trans Tasman Radiation Oncology Group
        </td>
        <td>
          @trog.com.au
        </td>
      </tr>
      <tr>
        <td>
          University of Canberra
        </td>
        <td>
          @canberra.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Melbourne
        </td>
        <td>
          @unimelb.edu.au, @student.unimelb.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of New South Wales
        </td>
        <td>
          @unsw.edu.au, @ad.unsw.edu.au, @student.unsw.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of South Australia
        </td>
        <td>
          @unisa.edu.au, @mymail.unisa.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Southern Queensland
        </td>
        <td>
          @usq.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Sydney
        </td>
        <td>
          @sydney.edu.au, @uni.sydney.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Tasmania
        </td>
        <td>
          @utas.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Technology Sydney
        </td>
        <td>
          @uts.edu.au, @student.uts.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of the Sunshine Coast
        </td>
        <td>
          @usc.edu.au, @student.usc.edu.au, @research.usc.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Western Australia
        </td>
        <td>
          @uwa.edu.au, @student.uwa.edu.au, @research.uwa.edu.au
        </td>
      </tr>
      <tr>
        <td>
          University of Wollongong
        </td>
        <td>
          @uow.edu.au, @uowmail.edu.au
        </td>
      </tr>
      <tr>
        <td>
          VCS Foundation
        </td>
        <td>
          @vcs.org.au
        </td>
      </tr>
      <tr>
        <td>
          Victor Chang Cardiac Research Institute
        </td>
        <td>
          @victorchang.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Victoria University
        </td>
        <td>
          @vu.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Wesley Medical Research
        </td>
        <td>
          @wesleyresearch.com.au
        </td>
      </tr>
      <tr>
        <td>
          Western Sydney Local Health District
        </td>
        <td>
          @health.nsw.gov.au
        </td>
      </tr>
      <tr>
        <td>
          Western Sydney University
        </td>
        <td>
          @westernsydney.edu.au
        </td>
      </tr>
      <tr>
        <td>
          Woolcock Institute of Medical Research
        </td>
        <td>
          @woolcock.org.au
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <a id="ref_1"> [1] </a>
    Information about Apollo software and documentation can be found
    <a href="https://genomearchitect.readthedocs.io/en/latest/">
      here
    </a>
    and the article:
    <a href="https://doi.org/10.1371/journal.pcbi.1006790">
      Dunn et al, 2019 PLoS Comp. Biol.
    </a>
  </p>
  <p>
    <a id="ref_2"> [2] </a>
    The Australian BioCommons initiative is hosted by
    <a href="https://www.unimelb.edu.au/">
      The University of Melbourne.
    </a>
  </p>
  <p>
    <a id="ref_3"> [3] </a>
    The Apollo Service uses the application Apollo, developed for genome
    annotation, curation and visual sharing, detailed
    <a href="https://genomearchitect.readthedocs.io/en/latest/">
      here.
    </a>
  </p>
  <p>
    <a id="ref_4"> [4] </a>
    The Apollo Service and Apollo use the platform technology
    <a href="https://jbrowse.org/jb2/"> JBrowse </a>
    , built for the visualisation of biological data.
  </p>
  <p>
    <a id="ref_5"> [5] </a>
    DBPA - Decided by Project Administrator.
  </p>
  <p>
    <a id="ref_6">
      [6] Publish here is defined as making a track publicly accessible via URL
      to either a restricted viewer outside of the Apollo Instance or a public
      anonymous viewer outside of the Apollo Instance.
    </a>
  </p>
  <p>
    <a id="ref_6"> </a>
  </p>

  {% include 'home/snippets/doc-nav.html' %}

</div>

{% endblock %}
