{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Apollo Service</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="nav-item-home">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item" id="nav-item-genomes">
          <a class="nav-link" href="/genomes">Genomes</a>
        </li>
        <li class="nav-item dropdown" id="nav-item-resources">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/resources/start">Getting started</a>
            <a class="dropdown-item" href="/resources/documentation">User documentation</a>
            <a class="dropdown-item" href="/resources/training">Training, tutorials and other resources</a>
            <a class="dropdown-item" href="/about">Citation</a>
            <a class="dropdown-item" href="/resources/faqs">FAQs</a>
            <a class="dropdown-item" href="/resources/video">Video resources</a>
            <a class="dropdown-item" href="/resources/terms">Terms of use</a>
          </div>
        </li>
        <li class="nav-item" id="nav-item-about">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item" id="nav-item-contact">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
        <li class="nav-item" id="nav-item-signup">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li>
          <div class="search-icon" onclick="showSearch();">
            <span class="material-icons">search</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <script>
    // Set active navbar item
    $(document).ready( () => {
      const PAGES = {
        '/': 'home',
        '/genomes': 'genomes',
        '/about': 'about',
        '/contact': 'contact',
        '/signup': 'signup',
        '/resources': 'resources',
      }
      Object.keys(PAGES).forEach( (pathname) => {
        if (pathname == '/' && window.location.pathname !== pathname) {
          return;
        }
        if (window.location.pathname.slice(0, pathname.length) === pathname) {
          $(`#nav-item-${PAGES[pathname]}`).addClass('active');
        }
      });
    });
  </script>
</nav>
