{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>Request submitted | Apollo Portal</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Thank you for contacting us</h1>
  
  <section>
    <p>
      Thank you for contacting the TraDIS-Vault team. We'll get back to you soon!
    </p>
  </section>

  <section>
    <p>
      <a class="btn btn-primary" href="/">Apollo portal home</a>
    </p>

    <p>
      <a class="btn btn-primary" href="/tradis">TraDIS-Vault home</a>
    </p>
  </section>
</div>
{% endblock %}
