{% extends 'home/header.html' %}
{% load static %}


{% block head %}
<title>TraDIS-Vault | Apollo Portal</title>
<link rel="stylesheet" href="{% static 'tradis/css/index.css' %}">
{% endblock %}


{% block content %}
<div class="sidebar page-align-top">
  <div class="nav theme-black-2">
    <nav>
      <img class="mx-auto my-3" src="{% static 'tradis/img/logo.png' %}" alt="TraDIS-Vault radial graph logo" style="width: 100px;">
      <small class="monospace">TraDIS-Vault</small>
      <ul class="mt-3">
        <li>
          <a href="/tradis">Home</a>
        </li>
        <li>
          <a href="/tradis/tutorial">Tutorial</a>
        </li>
        <li>
          <a href="/tradis/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col px-0 py-5">
    {% block main %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready( () => {
    // $('.sidebar .nav').css('height', $(document).height() - 70);
    $('.sidebar').css('padding-left', $('.sidebar .nav').outerWidth());
    $('footer').css('padding-left', $('.sidebar .nav').outerWidth());
  });
</script>

{% block tradisscript %}
{% endblock %}

{% endblock %}
