{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>About | Apollo Portal</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>About the Australian Apollo Service</h1>

  <section>
    <h3>How to cite the Apollo Service</h3>
    {% include 'home/snippets/citation.html' %}
  </section>

  <hr>

  <section>
    <p>
      The Apollo Service is a
      <a href="https://genomearchitect.readthedocs.io/en/latest/index.html">
        workbench
      </a>
      for visualising, manipulating, analysing and interpreting life science data
      (specifically genome assemblies and genome annotations, and enabling the
      manual curation of genome annotations).
      <a href="https://www.biocommons.org.au/">Australian BioCommons</a>
      (hosted by
      <a href="https://www.unimelb.edu.au/">the University of Melbourne</a>)
      operates the
      <a href="/">Australian Apollo Service</a>
      and Apollo Portal in collaboration with
      <a href="https://www.qcif.edu.au/">QCIF</a>
      and
      <a href="https://www.uq.edu.au/" target="_blank">the University of Queensland</a>
      with investment from
      <a href="https://bioplatforms.com/">Bioplatforms Australia</a>,
      and the
      <a href=" https://science.des.qld.gov.au/funding/ricf">
        Queensland Government's Research Infrastructure Co-investment Fund (RICF)
      </a>.
      The Service is underpinned by computational resources provided by the
      <a href="https://pawsey.org.au/">Pawsey Supercomputing Research Centre</a>.
    </p>
  </section>
</div>
{% endblock %}
