{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>Search results | Apollo Portal</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Search results</h1>

  {% for hit in hits %}
  <div class="hit">
    <a href="{{ hit.url }}">
      <p class="lead my-0">{{ hit.title }}</p>
      <p class="link">{{request.scheme}}://{{request.headers.Host}}{{ hit.url }}</p>
    </a>
    <p>{{ hit.description }}</p>
    <p class="highlight">{{ hit.highlight|safe }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{% endblock %}
