{% extends 'home/header.html' %}
{% load static %}

{% block head %}
<title>Request submitted | Apollo Portal</title>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Registration submitted</h1>
  
  <p>
    Thank you for registering. You will receive an email response outlining
    the details of your application. The Project Administrator you have
    nominated will also receive an email once your Apollo Instance has been created.

    If you do not hear back from us within 5 working days, please email the
    Apollo Service Team at <a href="mailto:help@genome.edu.au">help@genome.edu.au</a>.
  </p>
</div>
{% endblock %}

{% block script %}
{% endblock %}
